<!DOCTYPE html>
<html>
<head>

	<title>livros</title>
	<link rel="stylesheet" href="styles.css">

</head>
<body>

	<!-- Configurações do menu -->

	<div class="menu">
		<div class="search-container">
			<input type="text" placeholder="Buscar" required>
			<input type="submit" value="Enviar">
		</div>
		<a class="button button-login" href="#">Entrar</a>
		<a class="button button-register" href="#">Cadastrar</a>
	</div>

	
	<!-- Configurações da amonstra dos livros -->
  	<div class="container">
		
		<table>
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Autor</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>lucadss</td>
					<td>sadasd</td>
				</tr>
			</tbody>
		</table>
  </div>

</body>
</html>