<!DOCTYPE html>
<html>
<head>

	<title>Informações do Livro</title>
	<link rel="stylesheet" href="styles.css">

</head>
<body>
	<!-- Configurações do menu -->
	<div class="menu">
		<div class="search-container">
			<input type="text" placeholder="Buscar" required>
			<input type="submit" value="Enviar">
		</div>
		<a class="button button-login" href="#">Entrar</a>
		<a class="button button-register" href="#">Cadastrar</a>
	</div>

	<!-- Configurações das informações-->
  	<div class="container">
  		<img class="image" src="tran.jfif">
		<div class="info">
			<div class="title">Título do livro</div>
			<div class="author">Nome do Autor</div>
			<div class="description">Descrição da Informação</div>
			<div><button style="background-color: #f1c40f;">Update</button>
			<button style="background-color: #e74c3c;">Delete</button></div>
		</div>
  	</div>

</body>
</html>