<!DOCTYPE html>
<html>
<head>

	<title>Cadastro de Usuario</title>
	<link rel="stylesheet" href="styles.css">
	  
</head>
<body>
	<!-- Configurações do menu -->

	<div class="menu">
		<div class="search-container">
			<input type="text" placeholder="Buscar" required>
			<input type="submit" value="Enviar">
		</div>
		
		<a class="button button-login" href="#">Entrar</a>
		<a class="button button-register" href="#">Cadastrar</a>
	</div>

	<!-- Configurações do Container de cadastro -->
  	<div class="container">
    	<form>
			<h1>Cadastro de Usuario</h1>
    	  <input type="text" placeholder="Nome" required>
    	  <input type="email" placeholder="Email" required>
    	  <input type="password" placeholder="Senha" required>
    	  <input type="submit" value="Cadastrar">
    	</form>
  	</div>

</body>
</html>
